{#{% block showByName %}#}
    {#{% for person in persons %}#}

        {#{% include 'ContactBoxBundle:Person:showOneShort.html.twig' %}#}
        {##}
    {#{% endfor %}#}
{#{% endblock %}#}



    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_end(form) }}#}



<form>
    <p>
        <label>jhbjhb<input></label>
    </p>
    </form>